---
layout: default
---
<div class="main-container-stilling">
  <button class="back-button" onclick="window.history.back()">Tilbake</button>
  <h1>{{page.tittel}}</h1>
  {% for paragraph in page.paragraphs %}
  <p>{{paragraph}}</p>
  {% endfor %}
  <p class="sub-title">Arbeidsoppgaver:</p>
  <ul class="list-style">
    {% for oppgaver in page.arbeidsoppgaver %}
    <li>
      <p class="normal-text">{{oppgaver}}</p>
    </li>
    {% endfor %}
  </ul>
  <br>

  {% if page.personligeegenskaper %}
  <p class="sub-title">Kvalifikasjoner og personlige egenskaper:</p>
  <ul class="list-style">
    {% for egenskap in page.personligeegenskaper %}
    <li>
      <p class="normal-text">{{egenskap}}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <br />
  <p class="sub-title">Vi tilbyr:</p>
  <ul class="list-style">
    {% for tilbyr in page.vitilbyr %}
    <li>
      <p class="normal-text">{{tilbyr}}</p>
    </li>
    {% endfor %}
  </ul>
  <br>

  <p class="sub-title">{{page.om.title}}</p>
  <p>{{page.om.arbeidsgiver}}</p>
  <br>

  <span class="sub-title">Kontaktperson: </span>
  <span>{{page.kontaktperson}}</span>
  <br />

  <span class="sub-title">Arbeidssted: </span>
  <span>{{page.sluttinfo}}</span>
  <br>

  <span class="sub-title">Sektor: </span>
  <span>{{page.om.sektor}}</span>
  <br>

  <span class="sub-title">Hjemmekontor: </span>
  <span>{{page.om.hjemmekontor}}</span>
  <br>

  <span class="sub-title">Stillingsfunksjon: </span>
  <span>{{page.om.stillingsfunksjon}}</span>
  <br>

  <span class="sub-title">Språk: </span>
  <span>{{page.om.language}}</span>
  <br> <br>
  <h3>Ta gjerne kontakt med oss om du har spørsmål. </h3>
  <a class="application-button" href="{{page.sokher}}" target="_blank"><span> <button class="button primary">Søk her</button></span></a>
</div>