---
layout: default
---

<div class="sammarbeids-partnere-container">
  <div class="container-block">
    <img src="{{'/assets/bedrift/samarbeid/studenter-koder.jpg' | relative_url}}" class="fill-width" />
  </div>
  <div class="horizontal-flex breathing-space">

    <div class="medium-text-block">{% include bedrift/talentfulle-utviklere.html %}</div>
    <div>{% include bedrift/kontakt-kort.html %}</div>
  </div>
  <div class="container-block center-flex">{% include home/norge-kart.html %}</div>
  <div class="short-width">
    <h2 class="bold-text">Studenter fra hele Norge</h2> <!-- Title -->
    <p class="left-aligned-text">Teknologi interessen er høy blant våre studenter, og stort sett all undervisning
      foregår digitalt. Dette betyr at vi har studenter fra hele landet, og derfor har vi kanskje student til akkurat
      DIN bedrift.</p>
  </div>
  {% for text-block in site.data.text-block %}
  <div class="container-block large-gap">
    <h2 class="left-aligned-text bold-text">{{ text-block.header }}</h2>
    <p class="left-aligned-text">{{ text-block.paragraph }}</p>
  </div>
  {% endfor %}
  <div class="container-block">
    <h2 class="left-aligned-text bold-text">Våre samarbeidspartnere</h2> <!-- Title -->
  </div>
  <div class="container-block">{% include home/bedrifter.html %}</div>
</div>