<div class="accordion-body">
  <div id="accordion" class="accordion-container">
    <div class="accordion">
      {% for question in site.data.faq %}
      <div class="accordion-header" onclick="toggleAccordion(this)">
        <div class="accordion-question">{{ question.title }}</div>
      </div>

      <div class="accordion-body">
        <div class="accordion-content">
          {{ question.text }}
          <strong>{{ question.sub }}</strong>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function toggleAccordion(element) {
    element.parentElement.classList.toggle('is-open')
    element.children[0].classList.toggle('is-open');
    }
</script>