<footer class="footer-container">
	<div class="content">
		<div class="footer-block">
			<ul>
				<!-- <li class="list-header">Bedrift:</li> -->
				<a href="{{ '/bedrift/' | relative_url }}">
					<li>Bedrift</li>
				</a>
				<!-- <li class="list-header">Utdanning:</li> -->
				<a href="{{ '/utdanning' | relative_url }}">
					<li>Utdanning</li>
				</a>
				<a href="{{ '/om-oss' | relative_url }}">
					<li>Om Oss</li>
				</a>
				<a href="{{ '/nyheter' | relative_url }}">
					<li>Nyheter</li>
				</a>
				<a href="{{ '/kontakt' | relative_url }}">
					<li>Kontakt</li>
				</a>
				<a href="{{ '/faq' | relative_url }}">
					<li>FAQ</li>
				</a>
				<a href="{{ '/start-it-oppgave' | relative_url }}">
					<li>Start oppgave</li>
				</a>
				<a href="{{ '/ledige-stillinger' | relative_url }}">
					<li>Ledige stillinger</li>
				</a>
			</ul>
		</div>

		<div class="footer-block">
			<div class="mer-info">
				<a href="mailto:post@getacademy.no">post@getacademy.no</a>
				<p>
					Nedre Fritzøegate 2,
					<br />3264 Larvik / Plateverkstedet
				</p>
			</div>
			<div class="icons">
				<a href="https://youtube.com/channel/UCWbmXkGYNDgBiRmW7t9mSbA/featured" target="_blank" rel="noopener"
					title="Sjekk ut vår youtube kanal">
					<i class="fab fa-youtube"></i>
				</a>
				<a href="https://linkedin.com/company/get-academy/about/" target="_blank" rel="noopener"
					title="Følg oss på Linkedin">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="https://facebook.com/getacademy.no/" target="_blank" rel="noopener"
					title="Sjekk ut vår Facebook side">
					<i class="fab fa-facebook-f" alt="facebook"></i>
				</a>
			</div>
			<div class="link-tree">
				<a href="{{ '/lenketre' | relative_url }}" target="_blank" title="Sjekk ut alle våre sosial medier her">
					<i>Lenke til alle sosiale medier</i>
				</a>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div>
			<h3>Spørsmål? Sjekk ut vår FAQ side</h3>
		</div>
		<div class="full-length-divider"></div>
		<div class="bottom-footer-link-container">
			<a href="{{ '/personvern/' | relative_url }}" target="_blank" rel="noopener">
				Personvern
			</a>
		</div>
	</div>
</footer>