<footer>
	<div class="content">
		<div class="footer-block">
			<ul>
				<li>Utdanning</li>
				<li>Om Oss</li>
				<li>Start IT oppgave</li>
			</ul>
		</div>

		<div class="footer-block">
			<ul>
				<li>Nyheter</li>
				<li>Kontakt / FAQ</li>
				<li>Ledige stillinger</li>
			</ul>
		</div>

		<div class="footer-block">
			<div class="mer-info">
				<p>
					Nedre Fritzøegate 2,
					<br />3264 Larvik / Plateverkstedet
				</p>
				<a href="mailto:post@getacademy.no">post@getacademy.no</a>
			</div>
		</div>
	</div>

	<div class="icons">
		<a href="https://facebook.com/getacademy.no/" target="_blank" rel="noopener" title="Sjekk ut vår Facebook side">
			<i class="fab fa-facebook-f" alt="facebook"></i>
		</a>
		<a href="https://youtube.com/channel/UCWbmXkGYNDgBiRmW7t9mSbA/featured" target="_blank" rel="noopener"
			title="Sjekk ut vår youtube kanal">
			<i class="fab fa-youtube"></i>
		</a>
		<a href="https://linkedin.com/company/get-academy/about/" target="_blank" rel="noopener"
			title="Følg oss på Linkedin">
			<i class="fab fa-linkedin-in"></i>
		</a>
		<a href="https://github.com/GetAcademy" target="_blank" rel="noopener" title="Følg oss på GitHub">
			<i class="fab fa-github-alt"></i>
		</a>
	</div>
	<div class="bottom-footer">
	</div>
</footer>