<aside>
	<nav>
		<div class="nav-container">
			<div class="nav-body">
				<div class="logo-container">
					<a href="{{ '/' | relative_url }}">
						<img class="logo" src="{{ '/assets/GET-ACADEMY-LOGO-30-8-2021.svg' | relative_url }}"
							alt="GetAcademy Logo" />
					</a>
				</div>
				<div class="nav-buttons">
					<div class="dropdown">
						<button onclick="dropdown(this)" class="dropbtn">Utdanning</button>
						<div class="dropdown-content">
							<a href="{{ '/utdanning' | relative_url }}">Utdanningsløp</a>
							<a href="{{ '/#feedback' | relative_url }}">Erfaringer</a>
						</div>
					</div>
					<div class="dropdown">
						<button onclick="dropdown(this)" class="dropbtn">Bedrift</button>
						<div class="dropdown-content">
							<a href="{{ '/bedrift/sammarbeids-partnere' | relative_url }}">Sammarbeid</a>
							<a href="{{ '/' | relative_url }}">Referanser</a>
						</div>
					</div>
					<a class="link-div button-size" href="{{ '/nyheter' | relative_url }}">Nyheter</a>
					<div class="dropdown">
						<button onclick="dropdown(this)" class="dropbtn">Om GET</button>
						<div class="dropdown-content">
							<a href="{{ '/om-oss' | relative_url }}">Om GET Academy</a>
							<a href="{{ '/kontakt' | relative_url }}">Kontakt</a>
							<a href="{{ '/faq' | relative_url }}">FAQ</a>
						</div>
					</div>
					<!-- {% for page in site.pages %} {% if page.nav %}
					<a class="link-div button-size" href="{{ page.url | relative_url }}">{{ page.title }}</a>
					{% endif %} {% endfor %} -->

				</div>
				<div class="hamburger" onclick="hamburger()"><i class="fa fa-bars" style="font-size:36px"></i>
				</div>
			</div>
			<div class="hamburger-menu">
				<div class="hamburger-links">
					<a href="{{ '/' | relative_url }}">Utdanningsløp</a>
					<!-- <a href="{{ '/' | relative_url }}">Erfaringer</a> -->
					<a href="{{ '/bedrift/sammarbeids-partnere' | relative_url }}">Sammarbeid</a>
					<!-- <a href="{{ '/' | relative_url }}">Referanser</a> -->
					<a href="{{ '/om-oss' | relative_url }}">Om GET Academy</a>
					<a href="{{ '/kontakt' | relative_url }}">Kontakt</a>
					<a href="{{ '/faq' | relative_url }}">FAQ</a>
					<!-- {% for page in site.pages %} {% if page.nav %}
					<a class="link-div button-size" href="{{ page.url | relative_url }}">{{ page.title }}</a>
					{% endif %} {% endfor %} -->

				</div>
			</div>
		</div>
	</nav>
</aside>
<header>
</header>
<script src="{{'/assets/js/header.js' || relative_url}}">
</script>