<aside>
	<nav>
		<div class="nav-container">
			<div class="logo-container">
				<a href="{{ page.url | site.home }}"><img class="logo" src="/assets/get-academy.png"
						alt="GetAcademy Logo" /></a>
			</div>
			<!--Consider using Javascript for mobile viewers -->
			<div class="nav-buttons">
				{% for page in site.pages %} {% if page.title %}
				<a class="link-div button-size" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %} {% endfor %}
				<a class="application-button" href="{{ page.url | prepend: site.baseurl }}"><button
						class="button primary">Meld interesse</button></a>
			</div>
		</div>
	</nav>
</aside>

<header>
</header>