<div class="contact-card-container">
    <div class="contact-card">
        <img loading="lazy" class="profile-image" src="\assets\ansatt-bilder\{{ page.profilbilde | prepend: site.baseurl }}" :alt="page.navn" />
        <p class="person-name">
            <span class="first-letter person-info">{{page.navn | slice: 0}}</span>
            <span>{{ page.navn | slice: 1, page.navn.size }}</span>
            <br />
            <span class="person-info"><a :href="'mailto:' + personEmail" rel="noopener">{{page.email}}</a></span>
            <br />
            <span class="person-info">{{ page.number }}</span>
        </p>
    </div>
    <br />

    <div class="form-group">
        <h3>Lurer du på noe? Ta kontakt!</h3>
        <form name="contact" action="https://formspree.io/xknqldae" method="POST">
            <label type="text" for="name">Navn:</label>
            <input type="text" name="name" id="name" />

            <label type="text" for="email">E-post:</label>
            <input type="text" name="email" id="email" />

            <label type="text" for="message">Melding:</label>
            <textarea class="form-field" name="message" id="message"></textarea>

            <input class="form-button" type="submit" value="Send melding" />
        </form>
    </div>
</div>