<div class="contact-us-wrapper">
    <div class="text-container">
        <div class="contact-person">
            <h3 class="blue-header">For studenter</h3>
            <h2 class="person-name">Anita</h2>
            <span><i class="fa fa-address-book" aria-hidden="true"></i></span> <a class="person-info"
                href="mailto: anita@getacademy.no">anita@getacademy.no</a><br>
            <br><h2 class="person-name">Lise</h2>
            <span><i class="fa fa-address-book" aria-hidden="true"></i></span> <a class="person-info"
                href="mailto: lise@getacademy.no">lise@getacademy.no</a>
        </div>

        <div class="contact-person">
            <h3 class="blue-header">For bedrifter</h3>
            <h2 class="person-name">Eskil</h2>

            <span><i class="fa fa-address-book" aria-hidden="true"></i></span> <a
                href="mailto: eskil@getacademy.no">eskil@getacademy.no</a>
            <p><i class="fas fa-phone"></i> Tel: 454 859 22</p>
            <h2 class="person-name">Elin</h2>
            <span><i class="fa fa-address-book" aria-hidden="true"></i></span> <a
                href="mailto: eskil@getacademy.no">elin@getacademy.no</a>
            <p> <i class="fas fa-phone"></i> Tel: 458 867 76</p>
        </div>

    </div>
    <div class="text-container">
        <h1>Lurer du på noe</h1>
        <div class="form-group">
            <h3>Kontakt oss her</h3>
            <form name="contact" action="https://formspree.io/xknqldae" method="POST">
                <label type="text" for="name">Navn:</label>
                <input type="text" name="name" id="name" />
                <label type="text" for="email">E-post:</label>
                <input type="text" name="email" id="email" />
                <label type="text" for="message">Melding:</label>
                <textarea class="form-field" name="message" id="message"></textarea>
                <input class="form-button" type="submit" value="Send melding" />
            </form>
        </div>
        <!-- <div class="text-container">
            <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2051.8523966813436!2d10.016306351871926!3d59.051183940244115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4646e9bb3633ecc7%3A0x6ca465ce66442fbd!2sNedre%20Fritz%C3%B8egate%202%2C%203264%20Larvik!5e0!3m2!1sen!2sno!4v1631011345911!5m2!1sen!2sno" width="400" height="300" style="border:0;"
                allowfullscreen="" loading="lazy">
            </iframe>
        </div> -->
    </div>
</div>