.home-logo {
    width: 20%;
    // margin: -15px;
}

.horizontal-aligned-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 15px;
    max-width: $content-max-width;
    .vertically-aligned-container {
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: center;
        height: 100%;
        * {
            height: 20%;
            // width: 100%;
            word-wrap: break-word;
        }
        .primary-home-button {
            width: 70%;
            padding: 30px;
            border: 2px solid $primary-color;
            background-color: #fff;
            border-radius: 5px;
            color: $primary-color;
            font-weight: bold;
        }
    }
    .vertically-aligned-container:nth-child(even) {
        .primary-home-button {
            color: #fff;
            background-color: $primary-color;
            border-color: #fff;
        }
    }

    img {
        transform: scaleX(-1);
        height: 200px;
        padding: 60px;
        border-radius: 100%;
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
        .vertically-aligned-container {
            width: 100%;
        }
        img {
            display: none;
        }
    }
}
