.attention-image-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cta-container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: left;
    justify-content: center;
    white-space: nowrap;
  }

  .cta-text {
    overflow: hidden;
    transform: translateY(-50%);
  }
  #animated-text::after {
    animation: fadeIn 1s ease-in-out;
    animation-iteration-count: infinite;
    content: "|";
    color: $primary-color;
  }

  .hero-image {
    animation: fadeIn 0.7s ease-in-out;
    padding-bottom: 1rem;
    align-self: flex-start;
    width: 600px;
    height: auto;
  }

  @keyframes fadeIn {
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.2em;
  }

  @media only screen and (max-width: 920px) {
    h1 {
      margin-bottom: 0.3rem;
      font-size: 2rem;
    }

    h2 {
      font-size: 1rem;
    }

    .cta-container {
      padding: 0 0 2.5rem 1.5rem;
      flex-basis: 100%;
      text-align: center;
    }

    .hero-image {
      width: 90%;
      margin: auto;
      padding-bottom: 1.5rem;
    }
  }
}
