.container-block-companies {
  padding: 3rem $global-padding;
  margin: auto;
  margin-bottom: 60px;
}
.container {
  text-align: center;
}
.single-image {
  filter: grayscale(100%);
  padding: 15px;
  width: 100px;
  vertical-align: middle;
}
