.container-block-statistics {
  .chart-wrapper {
    max-width: $max-text-width-size;
    margin: auto;
  }
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  a {
    color: #4c8bf5;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
