.container-block-statistics {
  background-color: $alternating-background-color;
  .chart-wrapper {
    max-width: $max-text-width-size;
    margin: auto;
  }
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}
