.about-us-container {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;

  .folkene-bak {
    text-align: center;
  }

  .profile-card {

    p,
    span {
      color: $primary-font-color;

      .first-letter {
        font-weight: bold;
        color: $primary-color;
      }
    }
  }

  .profile-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px gray;
    border-radius: 5px;
    max-width: 250px;
    min-height: 260px;
    justify-content: space-between;
    background-color: white;
    box-shadow: $box-shadow;

    a {
      text-decoration: none;
    }
  }

  .boss-card {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: $hover-box-shadow;
      transform: translateY(-0.5em);
    }

    .view-profile-container {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  .employee-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    padding: 5px;
    background-color: white;
    box-shadow: $box-shadow;
  }

  .employee-profile-card {
    width: 100%;
    // min-height: 125px;
    align-items: center;

    .employee-img-container {
      display: flex;
      position: relative;

      .view-profile-container {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
      }

      .employee-text-container {
        .employee-name {
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }

  .person-name {
    margin-right: 15px;
    margin-top: 25px;
  }

  .person-info {
    max-width: 250px;
    height: 30px;
    font-weight: lighter;
    margin: 15px;
  }

  .btn {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border: 1px #dfdfdf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    text-align: center;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color-active;
    }
  }

  .employee-card-container {
    margin: 20px auto;
  }

  .text-container {
    // width: 60%;
    margin: 60px auto;
    text-align: center;

    .header-with-description {
      padding-right: 100px;

      h2,
      p {
        text-align: left;
      }
    }
  }

  .image-container {
    .bg-img {
      margin-top: 5%;
      height: 600px;
      width: 350px;
      background-repeat: no-repeat;
    }

    .contact-card {
      width: auto;
    }
  }

  .logos {
    padding: 3rem 1rem;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }

  img {
    filter: grayscale(100%);
    padding: 15px;
    width: 100px;
    height: 100%;
    vertical-align: middle;
  }

  .profile-card {
    width: 100%;
  }

  .view-profile-container {
    filter: none;
  }

  .partner-description {
    margin: auto;
    max-width: $max-text-width-size;
  }
}

@media only screen and (max-width: 950px) {
  .about-us-container {
    h2 {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-us-container .employee-profile-card .employee-img-container {
    display: block;
    position: relative;
  }

  .about-us-container {
    .horizontal-flex {
      display: block;
    }

    .bg-img {
      display: none;
    }
  }

  .invisible-link {
    text-decoration: none;
  }

  .about-us-container .person-name {
    margin-right: 0;
    margin-top: 0;
  }

  .about-us-container .profile-card-container {
    min-width: 100%;
    text-align: center;
  }

  .about-us-container {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .about-us-container .text-container {
    width: 100%;
    margin: 0px auto;
  }

  .about-us-container .person-info {
    padding: 10px;
    margin: 0 auto;
  }

  .about-us-container .text-container .header-with-description {
    padding-right: 0;
  }

  .text-container {
    width: 100%;
  }

  .profile-card-container {
    margin: 20px auto;
  }

  .contact-card {
    margin-bottom: 40px;
  }
}