.about-us-container {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;

  .folkene-bak {
    text-align: center;
  }

  .profile-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px gray;
    border-radius: 5px;
    max-width: 250px;
    min-height: 260px;
    justify-content: space-between;
    background-color: white;
    box-shadow: $box-shadow;
  }
  .boss-card {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      box-shadow: $hover-box-shadow;
      transform: translateY(-0.5em);
    }
  }
  
  .employee-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px gray;
    border-radius: 5px;
    max-width: 320px;
    min-height: 230px;
    justify-content: space-between;
    background-color: white;
    box-shadow: $box-shadow;
  } 
 .employee-profile-card {
   width: 100%;
   .employee-img-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
   }
   .employee-name {
    margin: 0;
   }
 }
  .view-profile-container {
    padding: 15px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .person-name {
    margin-right: 15px;
    margin-top: 25px;
  }

  .first-letter {
    font-weight: bold;
    color: $primary-color;
  }

  .person-info {
    max-width: 250px;
    height: 30px;
    font-weight: lighter;
    margin: 15px;
  }

 
  .btn {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border: 1px #dfdfdf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    text-align: center;
    background-color: $secondary-button-color;
    &:hover {
      background-color: $secondary-button-active;
    }
  }

  .horizontal-flex {
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 768px) {
    .profile-card-container {
      margin: 20px auto;
    }
  }
  .employee-card-container {
    margin: 20px auto;
  }
  .text {
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
  }

  .text h2,
  p {
    text-align: left;
  }

  .logos {
    padding: 3rem 1rem;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }

  img {
    filter: grayscale(100%);
    padding: 15px;
    width: 100px;
    height: 100%;
    vertical-align: middle;
  }

  .profile-card {
    width: 100%;
  }

  .view-profile-container {
    filter: none;
  }

  .partner-description {
    margin: auto;
    max-width: $max-text-width-size;
  }
}
