.contact-container {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;
  .contact-us-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contact-text-container {
      .text-container {
        margin: 30px auto;
        * {
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .contact-card-container {
    margin: auto;
  }
}
