.faq-container {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .contact-us-container {
    * {
      box-sizing: border-box;
    }
  }

  // acc

  .accordion-container {
    flex-grow: 1;
  }
  .accordion:not(.is-open) > .accordion-body {
    display: none;
  }

  .accordion {
    margin-right: 15px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
  }
  .accordion-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  .accordion-content {
    padding: 0 $global-padding 15px;
    background-color: transparent;
    max-width: 70%;
  }
  .inefficient-faq {
    min-width: 400px;
    background-image: url("/assets/bilde 1.png");
    background-repeat: no-repeat;
    // background-position: center;
    display: flex;
    justify-content: center;
    .text-container {
      margin-top: 400px;
      padding: $global-padding;
      height: fit-content;
      width: 250px;
      box-shadow: 0 8px 2px -2px #dfdfdf;
      background-color: #ffffff;
      text-align: center;
      font-weight: bold;
      button {
        width: 80%;
        padding: 5px;
        background-color: $primary-color;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .faq-container {
    display: flex;
      flex-direction: column;
  }
  .accordion {
    width: 100%;
  }
  .faq-container .inefficient-faq {
    width: 100%;
  }
}
