/* Footer */
.footer-container {
  background-color: $primary-color;
  color: $primary-font-color;
  font-weight: bold;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $content-max-width;
    margin: auto;
    padding: 1em;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      width: 70%;
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 250px;
      width: 100%;
      a {
        padding: 5px;
      }
    }
  }

  .mer-info {
    text-align: left;
    a {
      color: $primary-font-color;
      &:hover {
        color: #ffffff;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
  }

  i {
    font-size: 3rem;
    // padding-right: 1.5rem;
    // padding-left: 1.5rem;
    color: #000000;

    &:hover {
      color: #ffffff;
    }
  }

  ul {
    padding: 0;
    margin: 20px 60px 0 0;

    li {
      list-style-type: none;
      border-bottom: 1px solid $primary-font-color;
      padding: 5px 0;

      &:hover {
        border-bottom: 1px solid #ffffff;
      }
    }
  }

  a {
    text-decoration: none;
    color: $primary-font-color;
    &:hover {
      color: #ffffff;
    }
  }

  .bottom-footer {
    padding-bottom: 2em;
    * {
      max-width: $content-max-width;
      margin: auto;
    }
    .full-length-divider {
      height: 1px;
      width: 100%;
      background-color: $primary-font-color;
    }
    .bottom-footer-link-container {
      max-width: $content-max-width;
      margin: auto;
      padding: 15px 0 0;
      a {
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .content {
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
    }
    .footer-block {
      margin: auto;
      text-align: center;
      width: 75%;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: none;
        a {
          width: 100%;
        }
      }
    }
    li {
      margin: 10px;
    }

    .mer-info {
      text-align: center;
    }
    .bottom-footer {
      a {
        padding: 15px;
      }
    }
  }
}
