.company-quotes {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;
  display: flex;
  .quote-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .quote-card {
      align-items: flex-start;
      width: 100%;
      img {
        width: 200px;
        height: 100px;
      }
      p {
        margin: 0;
      }
      .quote-speaker {
        font-weight: bold;
      }
      & > * {
        margin: 30px auto;
        padding: $global-padding;
      }
    }
  }
}
