.contact-us-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    margin: auto;
    padding: $global-padding 50px;
    background-color: $primary-color;
    border-radius: 5px;
    .white-container {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        h3 {
            color: #ffffff;
        }
        a {
            background-color: #ffffff;
            color: $primary-color;
            padding: 15px 30px;
            text-decoration: none;
        }
    }
    img {
        margin: -50px 0;
        width: 400px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-us-component {
        padding: 30px;
    }
    .contact-container .contact-us-wrapper {
        display: flex;
        flex-direction: column;
    }
    .contact-container .contact-us-wrapper .contact-text-container .text-container {
        margin: 0 0 25px 0;
    }
    .google-map {
        width: 100%;
    }
    .filler-image {
        display: none;
    }
}