// Primary Button
.primary {
  background-color: $primary-color;
  border: none;
  margin: 0 0px;
  padding: 0.59em 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;

  &:hover {
    background-color: $primary-color-active;
  }
  @media only screen and (max-width: 768px) {
    .primary {
      font-size: 16px;
    }
  }
}

// GLB

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
main {
  min-height: 60vh;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  
}

body {
  margin: 0px;
  font-size: $font-size-default;
  font-family: Poppins;
  color: $primary-font-color;
  line-height: 1.75;
  background-color: rgb(249, 249, 250);
  
}

#app {
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
}

.vue-typer {
  // edit redudant
  .custom.char {
    color: $primary-font-color;
  }

  .custom.caret {
    background-color: $primary-color;
    width: 3px;
    line-height: 2.5rem;
    margin-left: 5px;
  }
}

.Cookie--get .Cookie__button {
  background: #339966;
  padding: 0.625em 3.125em;
  color: white;
  border-radius: 5px;
  border: 0;

  font-size: 1em;
  font-family: Poppins, sans-serif;
}
.Cookie--get .Cookie__button:hover {
  background: #5caa83;
}
.Cookie--get {
  background-color: #444547e1;
  color: white;
  padding: 2rem 5rem;
  justify-content: center;
}
.Cookie--get .Cookie__content {
  max-width: 1000px;
}
a {
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 1em auto;
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: $content-max-width;
}

.main-content {
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 370px);
}

button,
input[type="submit"],
a {
  cursor: pointer;
}

time {
  color: rgba(0, 0, 0, 0.4);
}

.back-button {
  &::before {
    content: "\003C";
  }
  &:hover {
    color: $primary-color-active;
  }
  background-color: transparent;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .Cookie--get {
    padding: 1rem 2rem;
    justify-content: flex-start;
  }
}
