// CONTAINER BLOCK
.container-block {
  padding: 3rem $global-padding;
  margin: auto;
  margin-bottom: 60px;
  max-width: 1195px;

  &:nth-child(even) {
    background-color: $alternating-background-color;
  }

  &:nth-child(2) {
    margin: 0 auto;
  }

  .btn-container {
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    .container-block {
      margin-bottom: 20px;
    }
  }
}

// Attention Image Container
.attention-image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.cta-container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-items: left;
  justify-content: center;
  white-space: nowrap;
}

.hero-image {

  animation: fadeIn 0.7s ease-in-out;
  padding-bottom: 1rem;
  align-self: flex-start;
  width: 600px;
  height: auto;
}

.hero-image:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button.primary {
  margin-top: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.2em;
}

@media only screen and (max-width: 1010px) {
  .cta-container {
    padding: 0 0 2.5rem 1.5rem;
    flex-basis: 30%;
  }

  h1 {
    margin-bottom: 0.3rem;
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .cta-container {
    padding: 0 0 2.5rem 1.5rem;
    flex-basis: 100%;
  }

  .hero-image {
    width: 100%;
    padding-bottom: 1.5rem;
  }
}
}

// Startup Card
.startup-container {
  margin: auto;
  padding: $global-padding 0;
  text-align: center;
  margin-top: 1.5rem;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: center;
  width: auto;
  border: 1px solid $primary-border-color;
  box-shadow: 0 2px 10px 0px $primary-border-color;

  .startup-card {
    box-shadow: -10px 10px 80px rgba(0, 0, 0, 0.1);
  }

  .startup-button {
    margin-top: 30px !important;
  }

  .startup-header {
    padding: $global-padding;
    border-bottom: 1px solid $primary-border-color;
  }

  .start-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .start-up-child {
    padding: 30px 20px;
    flex-grow: 1;
    flex-basis: 0;
    border-left: 1px solid $primary-border-color;
    border-right: 1px solid $primary-border-color;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
  .dateAndTime {
    padding: 5px;
    font-weight: bold;
  }

  .status {
    font-size: 20px;
  }

  .capacity,
  .date {
    font-weight: 900;
  }

  .full {
    color: red;
  }

  .few-available {
    color: rgb(255, 115, 0);
  }

  .open {
    color: #339966;
  }

  @media only screen and (max-width: 768px) {
    .startup-container {
      width: auto;
    }

    .start-up {
      display: flex;
      flex-direction: column;
    }

    .start-up-child {
      padding: 20px 20px;
      margin: 0 30px;
      text-align: left;
      justify-content: stretch;
      border-bottom: 1px solid $primary-border-color;
      border-left: 0;
      border-right: 0;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .header {
      margin: 0 10px;
      text-align: left;
      font-size: 22px;
    }
  }
}

// Primary Button
.primary {
  background-color: $primary-color;
  border: none;
  margin: 0 0px;
  padding: 0.59em 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;

  &:hover {
    background-color: $primary-color-active;
  }
  @media only screen and (max-width: 768px) {
    .primary {
      font-size: 16px;
    }
  }
}

// GLB
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  margin: 0px;
  font-size: $font-size-default;
  font-family: $font-sans-serif;
  color: $primary-font-color;
  line-height: 1.75;
  background-color: rgb(249, 249, 250);
}

#app {
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
}

.vue-typer {
  // edit redudant
  .custom.char {
    color: #333333;
  }

  .custom.caret {
    background-color: $primary-color;
    width: 3px;
    line-height: 2.5rem;
    margin-left: 5px;
  }
}

.Cookie--get .Cookie__button {
  background: #339966;
  padding: 0.625em 3.125em;
  color: white;
  border-radius: 5px;
  border: 0;

  font-size: 1em;
  font-family: Poppins, sans-serif;
}
.Cookie--get .Cookie__button:hover {
  background: #5caa83;
}
.Cookie--get {
  background-color: #444547e1;
  color: white;
  padding: 2rem 5rem;
  justify-content: center;
}
.Cookie--get .Cookie__content {
  max-width: 1000px;
}
a {
  color: #4c8bf5;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 1em auto;
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: $content-max-width;
}

.main-content {
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 370px);
}

button,
input[type="submit"],
a {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .Cookie--get {
    padding: 1rem 2rem;
    justify-content: flex-start;
  }
}

/* NEWS */
.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .news-card {
    display: flex;
    width: 44%;
    margin: 15px;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    border: 1px gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px #dfdfdf;
    cursor: pointer;
    &a:hover {
      box-shadow: 0px 2px 10px 2px #dfdfdf;
      transform: scale(1.02);
      transition: 0.1s;
    }
  }
}
