nav {
  background-color: #ffffff;
  // box-shadow: 2px 5px 10px rgba(96, 95, 95, 0.2);

  .nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: $content-max-width;
  }

  .application-button:hover {
    border-bottom: 3px solid white !important;
  }

  .nav-buttons a {
    display: flex;
    align-items: center;
    color: $primary-font-color;
    text-decoration: none;
    margin-left: 30px;
    border-bottom: 3px solid white;
    margin-bottom: 13px;

    &:hover {
      border-bottom: 3px solid $primary-color;
    }
  }

  .button.primary {
    font-size: $font-size-default;
  }

  .logo-container {
    padding-top: 10px;
  }

  .logo {
    height: 50px;
    transition: 0.2s;
  }
}

.hamburger-menu {
  display: none;
}
.hamburger {
  display: none;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  span {
    &:hover {
      background-color: white;
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    
    padding: 0 15px;
  }

  .nav-buttons {
    display: none;
  }

  .application-button {
    padding: 20px 0;
  }

  .no-border-bottom {
    border: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .hamburger-links {
    display: flex;
    flex-direction: column;
  
    a {
      padding: 0.5em;
      &:last-child{     
      text-align: center; 
       margin: auto;
      color: blue;  
      }
    }

  }
  .nav-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}