.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  max-width: $content-max-width;

  .news-card {
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: 27%;
    margin: 15px;
    padding: 0 20px;
    box-shadow: $box-shadow;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: $raise-effect;
      box-shadow: $hover-box-shadow;
    }
    .content {
      word-wrap: break-word;
      text-align: center;
      .news-title {
        font-size: 1.1em;
        font-weight: bold;
        color: #000000;
      }
      img {
        width: 100%;
      }
      time {
        color: rgba(0, 0, 0, 0.4);
        float: right;
      }
    }
  }
}

.news-content {
  margin: 1.5rem auto;
  max-width: $content-max-width;
  padding: $global-padding;
  background-color: white;
}

.news-content-container {
  max-width: $content-max-width;
  margin: 1.5rem auto 0;
}

.share-buttons {
  margin-top: 2rem;
  button {
    font: 1em sans-serif;
  }
}

.news-picture {
  height: 25%;
  width: 25%;
}

@media only screen and (max-width: 768px) {
  .news-container {
    .news-card {
      width: 100%;
    }
  }

  .news-content {
    padding: $global-padding;
  }

  .news-picture {
    height: 100%;
    width: 100%;
  }
}
