.map-of-students {
    padding: $global-padding;
    max-width: $content-max-width;
    .rotated-image {
        transform: rotateY(180deg);
        height: 300px;
    }
    h2 {
        padding: 15px;
        a {
            color: $primary-color;
            font-weight: bold;
        }
    }
    .centered-header {
        text-align: center;
        font-weight: bold;
    }
    .centered-div {
        justify-content: space-between;
        .norway-map {
            position: relative;
            margin: auto;
            width: 300px;
            height: 300px;
            background-size: 300px 300px;
            background-repeat: no-repeat;
            .map-pin {
                position: absolute;
                height: 40px;
                margin: 240px 50px;
                transition: 1s;
                left: -5px; // fix
                animation-name: pin-enter;
                animation-duration: 1s;
                &:hover {
                    height: 50px;
                    margin: 232px 47px;
                }
            }
        }
        .map-text {
            flex-grow: 1;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .horizontal-flex {
            flex-direction: column;
            .norway-map {
                margin: 0;

            }
        }
        
    }
}
    
    @keyframes pin-enter {
        0% {
            height: 0;
            margin: 260px 60px;
        }
        100% {
            height: 40px;
            margin: 240px 50px;
        }
    }
    