.news-container {
  display: flex;
  margin: 1.5rem auto;
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;
  background-color: $alternating-background-color;
}

.share-buttons{
  margin-top: 2rem;
  button {
    font: 1em sans-serif;
  }
}