.container-startup {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding 0;
  text-align: center;
  margin-top: 1.5rem;
  h3 {
    text-align: left;
    padding: 0 $global-padding;
  }

  .startup-period-container {
    width: 90%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid $primary-border-color;
    box-shadow: 0 2px 10px 0px $primary-border-color;
    background-color: $primary-color;
    color: #ffffff;
    .startup-header {
      padding: 25px;
    }
    .start-up {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .start-up-child {
      font-weight: bold;
      padding: $global-padding 0;
      flex-grow: 1;
      flex-basis: 0;
      border-top: 1px solid $primary-border-color;
      border-left: 1px solid $primary-border-color;
      border-right: 1px solid $primary-border-color;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
  #application-container {
    margin-top: 1.5rem;
  }

  .capacity {
    font-weight: bold;
  }

  .full {
    color: red;
  }

  .few-available {
    color: rgb(255, 115, 0);
  }

  .open {
    color: #339966;
  }

  @media only screen and (max-width: 768px) {
    .startup-period-container {
      .startup-header {
        word-break: break-all;
      }
      .start-up {
        display: flex;
        flex-direction: column;
        .start-up-child {
          word-break: break-all;
          text-align: center;
          padding: 20px 20px;
          margin: 0 30px;
          justify-content: stretch;
          border-bottom: 1px solid $primary-border-color;
          border-left: 0;
          border-right: 0;

          &:first-child {
            border-top: 0;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
