.attention-image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $global-padding;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    align-items: left;
    justify-content: center;
    white-space: nowrap;

    .horizontal-button-container {
      display: flex;

      a {
        padding-right: 1vw;
        width: 40%;

        :hover {
          background-color: $primary-color-active;
        }
      }

      button {
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        background-color: $primary-color;
        color: #ffffff;
      }
    }
  }

  .cta-text {
    overflow: hidden;
    transform: translateY(-50%);
    text-align: left;
  }

  .visible-link {
    color: #4c8bf5;
    text-decoration: underline;
  }

  #animated-text::after {
    animation: fadeIn 1s ease-in-out;
    animation-iteration-count: infinite;
    content: "|";
    color: $primary-color;
  }

  .hero-image {
    animation: fadeIn 0.7s ease-in-out;
    align-self: flex-start;
    width: 400px;
    height: auto;
  }

  @keyframes fadeIn {
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.2em;
  }

}

// @media only screen and (max-width: 949px) {
//   .attention-image-container {
//     .hero-image {
//       width: 40%;
//     }
//   }

// }
// @media only screen and (max-width: 761px) {
//   .attention-image-container {
//     .hero-image {
//       width: 30%;
//     }
//     .cta-text {
//       padding: 0px;
//       text-align: center;
//       margin: 0;
//     }
//   }
// }

@media only screen and (max-width: 950px) {
  .attention-image-container {
    justify-content: center;

    .hero-image {
      display: none;
    }

    h1 {
      margin-bottom: 0;
      font-size: 2rem;
    }

    h2 {
      text-align: center !important;
    }
    .horizontal-button-container {
      display: flex;
      justify-content: center !important;
  }
    .cta-container {
      h1 {
        display: none;
      }
    }
  }

  // h2 {
  //   font-size: 1rem;
  // }
}

@media only screen and (max-width: 420px) {
  .attention-image-container {
    .cta-text {
      font-size: smaller;
    }
  }
}