.sammarbeids-partnere-container {
    margin: auto;
    padding: $global-padding;
    max-width: $content-max-width;
    text-align: left;
    .breathing-space {
        .medium-text-block {
            width: 60%;
        }
        justify-content: space-between;
    }
    .center-flex {
        display: flex;
        justify-content: center;
    }
    .short-width {
        max-width: 550px;
        margin: auto;
        h3 {
            text-align: center;
        }
    }
    .large-gap {
        margin: 120px auto;
    }
}
