.start-it {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;

  .start-it-ingress {
    display: flex;
    flex-direction: row;
    padding: $global-padding 0;
  }
  .start-text {
  width: 70%;
  }
  .start-it-container {
    padding: $global-padding;
    display: flex;
    flex-direction: row;
  }

  .module-container:nth-child(odd) {
    border-top: 3px solid $primary-color;
    border-bottom: 3px solid $primary-color;
  }
  .module-container:last-child {
    border-bottom: none;
  }

  .module-component-container {
    display: flex;
    flex-direction: row;
  }
 .module-paragraph-container {
   p {
     text-align: left;
   }
 }
  .unordered-list {
    display: flex;
    flex-direction: row;
    color: $primary-color;
    margin: 0;
    padding: 0 20px;
    border-radius: 100%;
    list-style-type: disc;

    li{
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }

  .unordered-list-main {
    font-size: 30px;
  }

  .unordered-list-sub {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .normal-text {
    color: $primary-font-color;
    font-size: 18px;
  }

  .table-container {
    background-color: #f3f1f1;
    margin-top: 13px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $primary-border-color;
  }

  .info-table {
    width: 500px;
    border-collapse: collapse;
    background-color: #f3f1f1;

    td {
      padding: 15px;
      border-bottom: 1px solid $primary-border-color;
      width: 50%;
    }
  }

  .no-border-bottom td {
    border: 0;
  }

  p {
    padding: 0 10px;
  }

  h3 {
    padding: $global-padding 0;
  }
  .application-box{
    display: flex;
    flex-direction: column;
  width: 20%;
  background-color: #ffffff;
  box-shadow: $box-shadow;
  text-align: center;
  padding: $global-padding;
  }
  @media only screen and (max-width: 768px) {
    h1 {
      padding: $global-padding;
    }
    .start-it-ingress {
      padding: 0 $global-padding $global-padding;
    }

    .module-component-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .unordered-list {
      display: flex;
      flex-direction: column;
    }

    .info-table {
      width: 100%;
      font-size: 1rem;
      tr {
        display: flex;
        flex-direction: column;
        width: 100%;
        td {
          width: 100% !important;
          flex-grow: 1;
          &:last-child {
            padding-left: $global-padding;
          }
        }
      }
    }
  }
}
