.krav-container {
  .module-component {
    overflow: hidden;
  }

  .application-box {
    width: unset !important;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}

.start-it {
  max-width: $content-max-width;
  margin: auto;
  padding: $global-padding;

  .start-it-ingress {
    display: flex;
    flex-direction: row;
    padding: $global-padding 0;
  }

  .start-text {
    width: 70%;
  }

  .start-it-container {
    padding: $global-padding;
    display: flex;
    flex-direction: row;
  }

  .module-container:nth-child(odd) {
    border-top: 3px solid $primary-color;
    border-bottom: 3px solid $primary-color;
  }

  .module-container:last-child {
    border-bottom: none;
  }

  .module-component-container {
    display: flex;
    flex-direction: row;
  }

  .module-paragraph-container {
    p {
      text-align: left;
    }
  }

  .unordered-list {
    display: flex;
    flex-direction: row;
    color: $primary-color;
    margin: 0;
    padding: 0 20px;
    border-radius: 100%;
    list-style-type: disc;

    li {
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }

  .unordered-list-column {
    display: flex;
    flex-direction: column;
    color: $primary-color;
    margin: 0;
    padding: 0 20px;
    border-radius: 100%;
    list-style-type: disc;

    li {
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }

  .unordered-list-main {
    font-size: 30px;
  }

  .unordered-list-sub {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .normal-text {
    color: $primary-font-color;
    font-size: 18px;
  }

  .table-container {
    background-color: #f3f1f1;
    margin-top: 13px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $primary-border-color;
  }

  .info-table {
    width: 500px;
    border-collapse: collapse;
    background-color: #f3f1f1;

    td {
      padding: 15px;
      border-bottom: 1px solid $primary-border-color;
      width: 50%;
    }
  }

  .no-border-bottom td {
    border: 0;
  }

  p {
    padding: 0 10px;
  }

  h3 {
    padding: $global-padding 0;
  }

  .application-box {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #ffffff;
    box-shadow: $box-shadow;
    text-align: center;
    padding: $global-padding;
  }
}

@media only screen and (max-width: 768px) {
  .start-it {
    h2 {
      font-size: 2rem;
    }
    padding: 0 2vmax;

    .start-it-ingress {
      width: 100%;
      flex-direction: column;

      .start-text {
        width: 100%;
      }

      .application-box {
        width: 100%;
        padding: 5vmax 0;
      }
    }

    .module-component-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;

      .unordered-list {
        display: flex;
        flex-direction: column;
      }

      .info-table {
        width: 100%;

        td {
          padding: 2vmax 0;
          width: 100%;
        }

        tr {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}