.soknad-side-container{
  padding-top : 9.5rem;
}
.steps-container {
  max-width: $content-max-width;
  margin: auto;
  * {
    box-sizing: border-box;
  }
  padding-bottom: 1rem;
  h4 {
    font-weight: 700;
  }

  h2 {
    text-align: center;
    font-size: 1.9rem;
  }

  .steg-h3 {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .timeline {
    position: relative;
    max-width: 50%;
    margin: auto;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: $primary-border-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
  }

  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid $primary-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: -50%;
  }

  .right {
    left: 50%;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-width: 10px 10px 10px 0;
  }

  p {
    text-align: left;
  }
  .right::after {
    left: -16px;
  }

  .content {
    padding: 20px;
    box-shadow: 0px 3px 10px 2px #dfdfdf;
    border: 1px solid $primary-border-color;
    border-radius: 5px;
    background-color: white;
    text-align: left;
  }
}
#application-container {
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .steps-container {
    width: 100%;
    margin: auto;
    .timeline::after {
      left: -37%;
    }
    .container {
      width: 100vw;
    }

    .left::after,
    .right::after {
      top: 0px;
      left: -3px;
    }

    .right,
    .left {
      left: -21vw;
    }
  }
  .steps-text-container {
    padding: $global-padding;
    width: 100%;
  }
}
