.evolve-business {
    display: flex;
    align-items: center;
    max-width: $content-max-width;
    margin: auto;
    // background-image: url("/assets/bilde 5.png");
    background-size: $content-max-width;
    background-repeat: no-repeat;
    background-position: center;
    .text-container {
        padding: $global-padding;
        height: 150px;
        width: 550px;
        background-color: #ffffff;
        & > * {
            text-align: left;
        }
        a {
            color: $primary-color;
        }
    }
}
@media only screen and (max-width: 768px) { 
    .evolve-business .text-container {
        height: 200px;
        padding: 10px;
    }
}