<div >
    <h3 class="bold-text">Rekrutter IT-utviklere fra GET Academy</h3>
    <p class="left-aligned-text">Vår praktisk rettede yrkesutdanning innen IT-utvikling har et sisteår med kombinert
        skole og praksis i en bedrift med rekrutteringsbehov. Dette er en annerledes og unik måte å rekruttere
        IT-utviklere på. Ved slutten av praksisperioden vet bedriften godt hva kandidaten kan - og hvordan læringskurven
        hans eller hennes er, og 90% blir ansatt etter fullført praksis.</p>
</div>