<div>
    <h3 class="bold-text">Rekrutter IT-utviklere fra GET Academy!</h3>
    <p class="left-aligned-text">
        Praksis i en bedrift med rekrutteringsbehov og skole utgjør sisteåret av vår praktisk rettede yrkesutdanning
        innen IT-utvikling Dette er en annerledes og unik måte å rekruttere IT-utviklere på. Ved slutten av
        praksisperioden kjenner bedriften kandidaten
        og læringskurven hans eller hennes, og 90% blir ansatt etter fullført praksis!</p>
    <h3 class="bold-text"> Skreddersy ditt behov</h3>
    <p class="left-aligned-text">
        Studentene våre får en generell, bred innføring i IT-utviklerfaget de første intensive seks månedene av
        utdanningen. I praksisåret hos bedriften din, tilpasses læringen bedriftens behov og teknologi.</p>
</div>