---
layout: default
---
<div class="about-us-container">
  <div class="horizontal-flex">
    <div class="text-container">
      {% for block in site.data.about-us-text-blocks %}
      <div class="header-with-description">
        <h2>{{block.header}}</h2>
        {% for paragraph in block.paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="image-container">
      <!-- <img src="../assets/bilde 7.png" alt=""> -->
      <div class="bg-img"></div>
      <div class="contact-card">
        <h3>Vil du vite mer?</h3>
        <p>Ta kontakt for en hyggelig samtale</p>
        <a href="{{ '/kontakt' | relative_url }}">
          <button>Kontakt</button>
        </a>
      </div>
    </div>
  </div>
  <div class="folkene-bak">
    <h2>Folkene bak GET-Academy</h2>
    <div class="card-container">
      {% for sjef in site.sjefer %}
      <div class="profile-card-container boss-card"> <a class="invisible-link" href="{{ sjef.profil | relative_url }}">
          <div class="profile-card">
            <div class="horizontal-flex">
              <img class="view-profile-container" src="{{ sjef.profilbilde | relative_url}}" alt="{{sjef.navn}}">
              <div class="person-name">
                <span><span class="first-letter">{{ sjef.name | slice: 0 }}</span>{{ sjef.name | slice: 1,
                  sjef.name.size }}</span>
              </div>
            </div>
            <p class="person-info">{{ sjef.stilling }}</p>
            <p class="person-info">{{ sjef.tillegg }}</p>
            <button class="btn">Se Profil</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="folkene-bak">
  <h2>Annsatte i GET-Academy</h2>
  <div class="card-container">
    {% for ansatt in site.ansatte %}
    <div class="employee-card-container">
      <div class="employee-profile-card">
        <div class="horizontal-flex employee-img-container">
          <img class="view-profile-container" src="{{ ansatt.profilbilde | relative_url}}" alt="{{ansatt.name}}">
          <div class="employee-text-container">
            <p class="employee-name">{{ ansatt.name }}</p>
            <p class="employee-info">{{ ansatt.stilling }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="logos">
  {% include home/bedrifter.html %}
</div>
</div>