---
layout: default
---

<div class="bedrift-side-container">
  <div class="horizontal-flex even-space">
    <img class="rotated-image" src="/assets/home-logo.png" />
    <div>
      <h2>Sikre deg dyktige IT-utviklere.
      </h2>
      <h2><a href="">Kontakt</a> oss nå!</h2>
      </h2>
    </div>
  </div>
  <div class="container-block">{% include home/kompani-sitater.html %}</div>
  <div class="container-block">{% include home/norge-kart.html %}</div>
  <div class="container-block">
    <h2 class="left-aligned-text">Bli en av våre samarbeidspartnere</h2>
    <p class="left-aligned-text">
      Som samarbeidsbedrift får du her hos oss en unik mulighet til å være med på å utvikle dyktige ansatter med stor
      grad
      av relevant kunnskap for din virksomhet.

      Du får den store fordelen av å påvirke utdanningen og den kompetansen studenten tilegner seg slik at de matcher
      det
      du som bedrift har behov for.

      Gjennom et samarbeid med oss får du muligheten l å sikre kollegaer med stor interesse og kompetanse innen koding .
    </p>
  </div>
  <div class="container-block">{% include home/bedrifter.html %}</div>
</div>