---
layout: default
---

<div class="faq-container">
  <div class="accordion-container">
    <h2 class="faq-title">Ofte stilte spørsmål</h2>
    {% include faq.html %}
  </div>
  <div class="inefficient-faq">
    <div class="text-container">
      <h3>Fant ikke spørsmålet ditt?</h3>
      <p>Ta kontakt, så hjelper vi deg!</p>
      <a href="{{ '/kontakt' | relative_url }}">
        <button>Kontakt</button>
      </a>
      <!-- <a href="{{'/kontakt' | relative_url}}">Kontakt</a> -->
    </div>
  </div>
</div>