<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <main>
    <div>
      <img src="assets/get-academy.png" alt="Logo" srcset="" class="home-logo">
    </div>
    <div class="horizontal-aligned-container">
      {% for side in site.data.side-valg %}
      <div class="vertically-aligned-container">
        <h3>{{ side.text }}</h3>
        <p>{{ side.description }}</p>
        <a href="{{ side.page | relative_url }} ">
          <button class="primary-home-button">{{ side.header }}</button>
        </a>
      </div>
      {% endfor %}
      <img src="assets/home-logo.png" alt="" />
    </div>

    <div>
      <p>Copyright © GET Academy 2021</p>
      <a href="{{ '/personvern/' | relative_url }}" target="_blank" rel="noopener">
        Personvern
      </a>
    </div>
  </main>
</body>

</html>