<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <main>
    {% include home/oppmerksomhets-bilde.html %}
    <div class="container-block">{% include home/kompani-sitater.html %}</div>
    <div class="container-block">{% include home/oppstartsdatoer.html %}</div>
    <div class="container-block">{% include home/steg-til-utvikler.html %}</div>
    <div class="container-block">
      <h3 class="blue-header">For bedrifter</h3>
      {% include bedrift/talentfulle-utviklere.html %}
      
    </div>
    <div class="container-block">{% include home/norge-kart.html %}</div>
    <div class="container-block">{% include home/utvikle-virksomhet.html %}</div>
    <h2 id="header-home" class="header">Bedrifter som stoler på oss</h2>
    <div class="container-block">{% include home/bedrifter.html %}</div>
    <div class="container-block centered">
      <a href="{{'/bedrift' | relative_url }}" class="orange-link for-bedrift-link">Les mer fra våre partnere &gt;</a>
    </div>
    <div class="container-block">{% include home/kontakt-oss-komponent.html %}</div>
    <div class="container-block">{% include home/tilbakemeldinger-elever.html %}</div>
    <!-- <div class="container-block-statistics">{% include home/statistikk.html %}</div> -->
    <div id="application-container" style="text-align: center; padding: 1.5rem;">
      <a class="application-button" href="{{ '/utdanning/start-it' | relative_url }}">
        <!-- Søknad -->
        <button class="button primary">Meld interesse</button>
      </a>
    </div>
  </main>
  <footer>{% include footer.html %}</footer>
</body>
</html>
<style>
  #header-home {
    font-weight: 500;
    font-size: 1.9rem;
  }
</style>