<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <main>
    {% include home/01.oppmerksomhets-bilde.html %}
    <div class="container-block-startup-dates">{% include home/02.oppstartsdatoer.html %}</div>
    <div class="container-block-steps">{% include home/03.steg-til-utvikler.html %}</div>
    <div class="container-block-companies">{% include home/04.bedrifter.html %}</div>
    <div class="container-block-feedback">{% include home/05.tilbakemeldinger-elever.html %}</div>
    <div class="container-block-statistics">{% include home/06.statistikk.html %}</div>
    <div id="application-container" style="text-align: center; padding: 1.5rem;">
      <a class="application-button" href="{{ '/soknad/' | relative_url }}">
        <!-- Søknad -->
        <button class="button primary">Meld interesse</button>
      </a>
    </div>
  </main>
  <footer>{% include footer.html %}</footer>
</body>

</html>