---
layout: default
---
  <div class="main-container-stilling"> <!-- Lazy WIP-->
<h1>Personvernerklæring</h1>
<h3>Behandlingsansvarlig</h3>
<p>Denne personvernerklæringen forklarer hvordan vi samler inn og bruker (behandler) personopplysninger i virksomheten vår. GET Academy AS ved daglig leder, er behandlingsansvarlig for behandlingen.</p>
<p class="sub-title">NB! Det er ikke lov til å kopiere noe tekst fra denne personvernerklæringen, jfr. <a href="https://lovdata.no/dokument/NL/lov/2018-06-15-40">lov om opphavsrett.</a></p>
<br>
<h3 class="sub-title">Vår kontaktinformasjon er:</h3>
<p>GET Academy AS
Forretningsadresse: Nedre Fritzøegate 2, 3264 Larvik<br>
Org.nr.: 918 020 667<br>
E-postadresse: post@getacademy.no<br></p>
<p class="sub-title">Vi tar personvernet ditt på alvor og vi har tatt flere grep for å sikre at vi gir deg tydelig informasjon om hvordan vi behandler dataene dine, og hvilke rettigheter du har. Hvis du føler at noe er uklart eller mangler, må du ikke nøle med å kontakte oss.</p>
<br>
<p class="sub-title">Rettighetene dine</p>
<p>Ta kontakt med oss hvis du har spørsmål om eller vil benytte deg av en av dine rettigheter. Du har krav på svar senest innen 30 dager. Les mer på <a href="https://www.datatilsynet.no/">Datatilsynets sider.</a></p>
<ul class="list-style">
      <li>
        <p class="normal-text">
Innsyn i og retting av egne opplysninger: Du kan be om en kopi av alle opplysninger vi behandler om deg, og be oss om å rette opplysninger som ikke er riktige. 
        </p>
      </li>
      <li>
        <p class="normal-text">
Sletting eller begrensning: I noen situasjoner kan du be oss om å slette og/eller begrense behandlingen av opplysninger om deg selv, men vi kan ikke slette data vi er pålagt å behandle.
        </p>
      </li>
      <li>
        <p class="normal-text">
Protestere mot en behandling: Dersom vi behandler opplysninger om deg på bakgrunn av berettiget interesse, har du rett til å protestere på det. 
        </p>
      </li>
      <li>
        <p class="normal-text">Dataportabilitet: Dersom vi behandler opplysninger om deg med grunnlag i samtykke eller en kontrakt, kan du be oss om å overføre opplysninger om deg til deg eller til annen behandlingsansvarlig.</p>
      </li>
      <li>
        <p class="normal-text">
Du har også rett til å trekke samtykket ditt tilbake når som helst.
        </p>
      </li>
            <li>
        <p class="normal-text">
Hvis du ikke er fornøyd med behandlingen av dataene dine kan du klage til Datatilsynet, men vi håper at du vil si i fra direkte til oss først så vi kan prøve å løse saken for deg på en god måte.
        </p>
      </li>
    </ul>
    <br>
<p class="sub-title">Hvem vi behandler personopplysninger om</p>
<p>Vi behandler personopplysninger om:</p>
<ul class="list-style">
      <li>
        <p class="normal-text">
Studenter 
        </p>
      </li>
      <li>
        <p class="normal-text">
Potensielle studenter
        </p>
      </li>
      <li>
        <p class="normal-text">
Kunder 
        </p>
      </li>
      <li>
        <p class="normal-text">
          Potensielle kunder
          </p>
      </li>
      <li>
        <p class="normal-text">
Kontaktpersoner hos praksisbedrifter og samarbeidspartnere
        </p>
      </li>
            <li>
        <p class="normal-text">
Besøkende på nettsiden
        </p>
      </li>
                  <li>
        <p class="normal-text">
Jobbsøkere
        </p>
      </li>
                  <li>
        <p class="normal-text">
Ansatte
        </p>
      </li>
                        <li>
        <p class="normal-text">
Tidligere ansatte
        </p>
      </li>
    </ul>
    <br>
<p class="sub-title">Hvordan vi samler inn personopplysninger</p>
<p>Det er frivillig å oppgi personopplysninger til oss, men for å kunne registrere deg som student eller samarbeidspartner, trenger vi imidlertid en rekke opplysninger fra deg. 
Vi verken leier, kjøper eller selger personopplysninger fra/til andre. Vi bruker ikke automatiserte avgjørelser eller profilering i behandlingen av personopplysningene dine. </p>
<p>Vi behandler opplysninger i særlig kategori for enkelte studenter, basert på frivillig, skriftlig samtykke.</p><br>

<p class="sub-title">Vi behandler personopplysninger når du:</p>
<ul class="list-style">
  <li>
    <p class="normal-text">blir student hos oss, eller kjøper våre tjenester</p>
  </li>
    <li>
    <p class="normal-text">kontakter oss via telefon, SMS, nettsiden vår, e-post eller sosiale medier</p>
  </li>
      <li>
    <p class="normal-text">melder deg på nyhetsbrev</p>
  </li>
      <li>
    <p class="normal-text">melder deg på arrangementer i vår regi</p>
  </li>
      <li>
    <p class="normal-text">svarer på en spørreundersøkelse </p>
  </li>
      <li>
    <p class="normal-text">bruker nettsiden vår</p>
  </li>
</ul><br>

<p class="sub-title>">Formål, rettslig grunnlag og lagring</p>
<p>Etter personvernforordningen artikkel 6 - 1 og artikkel 9 - 2 a) og b) behandler vi personopplysninger på bakgrunn av:</p>
<ol type="A" class="list-style">
    <li>
    <p class="normal-text">Ditt samtykke </p>
  </li>
      <li>
    <p class="normal-text">En avtale vi har inngått </p>
  </li>
      <li>
    <p class="normal-text">En rettslig forpliktelse vi har </p>
  </li>
      <li>
    <p class="normal-text">En berettiget interesse vi mener at vi har </p>
  </li>
      <li>
    <p class="normal-text">bruker nettsiden vår</p>
  </li>
</ol><br>
<p>Som hovedregel skal ikke personopplysninger behandles og oppbevares lenger enn nødvendig for å oppfylle formålet med behandlingen. </p>
<p>Vi beholder data så lenge vi er pålagt til det etter gjeldende juridiske forpliktelser, for eksempel relatert til regnskaps, 
  skatte- eller ansettelseslovgivning, og/eller andre relevante regler og forskrifter. Du kan når som helst kontakte oss hvis du ønsker at vi skal slutte å behandle eller slette personopplysningene dine, men merk at vi ikke kan slette personopplysninger vi er rettslig forpliktet til å behandle.</p>
<br>

<p class="sub-title">Slik behandler vi personopplysninger</p>
<p>Her beskriver vi i detalj når og hvordan vi behandler personopplysningene dine, til hvilke formål, på hvilket rettslig grunnlag og hvor lenge.</p>
<h3>Vi behandler personopplysninger når du:</h3>

<p class="sub-title">Du kommuniserer med oss</p>
<p>Når du gir oss visittkortet ditt eller henvender deg til oss via nettsiden (kontaktskjema, kommentarfelt, chat eller lignende), på e-post, via telefon (anrop, tekstmelding) eller sosiale medier, behandler vi personopplysninger. Avhengig av hvor og hvordan du sender oss melding, kan dette være navn, kontaktinformasjon, IP-adresse og øvrige opplysninger du velger å sende til oss.</p>
<p>Formålet er å kunne svare på henvendelser fra deg, for historikk, og for å ha dokumentasjon i tilfelle vi mottar reklamasjoner, klager eller rettslige krav. Det rettslige grunnlaget er artikkel 6 f), der de berettigede interessene er å kunne svare på henvendelser fra deg, for historikk, og for å ha dokumentasjon i tilfelle vi mottar reklamasjoner, klager eller rettslige krav. Det rettslige grunnlaget er artikkel 9 - 2 a) og b)  i de tilfellene der personopplysningene er av særlig art. Vi går gjennom, arkiverer og sletter henvendelser etter behov, men ikke sjeldnere enn hvert 2 år. Regnskapsmateriale oppbevares inntil fem år, etter reglene i bokføringsloven</p>

<p class="sub-title">Du kjøper våre produkter og tjenester</p>
<p>
  Når du kjøper produkter og tjenester fra oss behandler vi personopplysninger som navn, kontaktinformasjon, bestillings- og betalingsinformasjon og kjøpshistorikk.
</p>
<p>
  Når du melder interesse for en utdanning hos oss, behandler vi personopplysninger som, navn, adresse, kontaktinformasjon og alder.
</p>
<p>
  Er du student hos oss, behandler vi personopplysninger som navn, adresse, kontaktinformasjon, alder og fødselsdato. I tillegg behandler vi, etter skriftlig samtykke, særlige personopplysninger som er nødvendig for deg som student at vi er oppmerksomme på.
  Gjennom studietiden behandler vi personopplysninger som opptaksprøve, referater, frammøtelister, oppgaver og innhold på fellesarenaer.
</p>
<p>
  Formålet er å kunne levere produkter og tjenester til deg etter bestilling/kjøp, for ha en historikk over solgte produkter og tjenester og ellers å administrere og følge opp kundeforholdet med deg. Det rettslige grunnlaget er b) avtale og c) rettslig forpliktelse etter bl.a. bokførings- og skatteloven. Regnskapsmateriale oppbevares inntil fem år, etter reglene i bokføringsloven.
</p>

<p class="sub-title">Markedsføring i eksisterende kundeforhold</p>
<p>Når du blir student eller kunde hos oss behandler vi personopplysninger som nevnt over. Dersom du har et eksisterende kundeforhold hos oss vil vi kunne sende deg markedsføring på e-post og SMS, i tråd med markedsføringsloven § 15. </p>
<p>Formålet er å kunne yte god kundeservice. Det rettslige grunnlaget er f), der de berettigede interessene er å kunne tilby deg relevante produkter og tjenester. Det rettslige grunnlaget kan også være a), der du har gitt oss ditt samtykke. Du kan når som helst melde deg av markedsføring på e-post og SMS. Informasjon om hvordan du melder deg av angis i alle e-poster og SMS-er vi sender som er knyttet til markedsføring. Opplysningene oppbevares så lenge kundeforholdet eksisterer, til du melder deg av eller inntil du eventuelt ber om at vi sletter opplysningene vi har om deg.</p>

<p class="sub-title">Du søker på jobb eller jobber hos oss</p>
<p>Når du søker på jobb hos oss behandler vi personopplysninger som navn, kontaktinformasjon, CV og andre opplysninger vi trenger for å kunne vurdere søknaden din. Det rettslige grunnlaget er b) avtale, og eventuelt artikkel 9 - 2 a) og b) dersom søknaden din inneholder særlige kategorier personopplysninger. Opplysningene slettes etter at en annen person er valgt til jobben, med mindre du har samtykket til at vi lagrer informasjonen din lenger i tilfelle du ønsker å søke på jobb ved en senere anledning. Samtykket vil i så fall fornyes årlig.</p>
<p>For ansatte behandler vi personopplysninger som nevnt over, i tillegg til opplysninger som er nødvendig for å kunne utbetale lønn og ellers administrere arbeidsforholdet. Det rettslige grunnlaget for dette er b) avtale, c) rettslige forpliktelser etter gjeldende lover for ansettelsesforhold og eventuelt artikkel 9 -  2 a) og  b) ved særlige kategorier personopplysninger. Opplysninger om ansatte slettes som hovedregel når arbeidsforholdet opphører, med mindre særlige grunner (som tvist om oppsigelse eller avskjed) gjør det nødvendig å oppbevare dem lenger. Opplysninger knyttet til lønnsadministrasjon oppbevares inntil fem år, etter reglene i bokføringsloven.</p>

<p class="sub-title">Du melder deg på nyhetsbrev</p>
<p>Vi sender ut nyhetsbrev på e-post med informasjon om hva som skjer på skolen. Nyhetsbrevene inneholder av og til informasjon om våre produkter og tjenester. Når du abonnerer på nyhetsbrev behandler vi personopplysninger som navn, kontaktinformasjon og IP-adresse. </p>
<p>Formålet er å kunne informere om relevante nyheter og tilbud, samt å yte god kundeservice til potensielle og eksisterende kunder. Det rettslige grunnlaget er a) samtykke. Det er frivillig å abonnere på nyhetsbrevene og du kan når som helst trekke samtykket ditt tilbake (melde deg av) ved å klikke på «avmeld» nederst i en av e-postene. Personopplysningene dine slettes når du avmelder abonnementet. </p>
<p>Leverandøren vi bruker til å sende ut nyhetsbrev har integrert analyse som viser at abonnenter åpner og eventuelt klikker på lenker i nyhetsbrevene. Denne funksjonaliteten er integrert i systemet og kan ikke deaktiveres. Hvis du ikke vil at dataene dine skal analyseres på denne måten, bør du ikke bli abonnent. Dataene bruker vi til å analysere resultatene av nyhetsbrevene og for å skreddersy innholdet til våre abonnenter. Det rettslige grunnlaget er f), der den berettigede interessen er å kontinuerlig forbedre våre produkter og tjenester. </p>

<p class="sub-title">Du melder deg på et arrangement</p>
<p>Når du deltar på gratis arrangementer hos oss behandler vi personopplysninger som navn og kontaktinformasjon. Formålet er å kunne tilby relevante kurs, mulighet for å tilby praksisplasser og workshops. Det rettslige grunnlaget er a) samtykke eller b) avtale. Vi kan også bruke personopplysningene dine til å sende deg en forespørsel om evaluering av arrangementet du deltok på, og ev. invitere deg til andre lignende arrangementer. Det rettslige grunnlaget er f), der den berettigede interessen er å kontinuerlig forbedre våre produkter og tjenester, og tilby deg god kundeoppfølging.</p>
<p>Opplysningene oppbevares inntil du ber om at de blir slettet eller senest inntil 3 måneder etter arrangementet, eller, ved avtale, inntil fem år etter reglene i bokføringsloven.</p>

<p class="sub-title">Du svarer på en spørreundersøkelse</p>
<p>Vi informerer alltid om formålet med spørreundersøkelser vi gjennomfører, og om de er anonyme eller ikke. Vi deler ikke informasjonen med andre, eller bruker den til andre formål enn det vi har oppgitt. Ved anonyme undersøkelser samler vi ikke inn personopplysninger. Det rettslige grunnlaget for undersøkelser som ikke er anonyme er a) samtykke. Opplysningene oppbevares inntil du ber om at de blir slettet. Opplysningene slettes senest inntil 3 måneder etter at du svarte på undersøkelsen.</p>

<p class="sub-title">Du er en leverandør eller samarbeider med oss</p>
<p>Når du inngår en avtale med oss enten som leverandør, samarbeidspartner eller databehandler, behandler vi personopplysninger som navn, kontaktinformasjon og korrespondanse. Formålet er å kunne inngå en avtale med deg og det rettslige grunnlaget er b) avtale. Opplysningene oppbevares inntil fem år etter reglene i bokføringsloven. Vi behandler personopplysninger knyttet til generell korrespondanse og kommunikasjon som beskrevet over.</p>

<p class="sub-title">Du bruker nettsiden vår</p>
<p>Når du bruker nettsiden vår, behandler vi personopplysninger i tråd med vår cookie erklæring.<!-- TODO SETT INN LENKE --> Formålet er administrere nettsiden vår, promotere bedriften og svare på henvendelser fra besøkende. Det rettslige grunnlaget for cookies som lagrer eller behandler opplysninger som faller inn under ekomloven § 2-7b, er samtykke gjennom en forhåndsinnstilling i nettleseren din, i tråd med <a href="https://www.nkom.no/internett/informasjonskapsler-cookies">Nkoms anbefalinger som beskrevet her</a> (november 2020).</p>

<p class="sub-title">Hvem vi deler personopplysninger med</p>

<p>For å kunne drive virksomheten vår effektivt og sikkert, er vi noen ganger nødt til å dele personopplysningene dine med parter som:</p>
<ul class="list-style">
  <li>
    <p class="normal-text">Databehandlere: leverandører av ulike tjenester som behandler personopplysningene dine på våre vegne*</p>
  </li>
    <li>
    <p class="normal-text">Profesjonelle rådgivere fra bransjer som advokat, finans, regnskap, revisjon og forsikring</p>
  </li>
      <li>
    <p class="normal-text">Brukerstøtte for IT- og administrasjonssystemer</p>
  </li>
      <li>
    <p class="normal-text">Offentlige myndigheter vi er pliktig å rapportere til</p>
  </li>
</ul><br>

<p>Vi krever at alle vi deler personopplysningene dine med sikrer dataene dine i henhold til god informasjonssikkerhet og etter kravene i personvernforordningen. Vi inngår databehandleravtale med alle som behandler data på våre vegne, og taushetserklæringer etter behov.</p>
<p>*Vi bruker databehandlere for:</p>
<ul class="list-style">
  <li>
    <p class="normal-text">E-post, kalender og digitale møter</p>
  </li>
    <li>
    <p class="normal-text">Bokføring, regnskap og fakturering</p>
  </li>
      <li>
    <p class="normal-text">Skylagring</p>
  </li>
      <li>
    <p class="normal-text">Nyhetsbrev</p>
  </li>
        <li>
    <p class="normal-text">Elektronisk signering</p>
  </li>
        <li>
    <p class="normal-text">Spørreundersøkelser</p>
  </li>
        <li>
    <p class="normal-text">Lagring av studentoppgaver</p>
  </li>
</ul><br>

<p>På grunn av sikkerhet har vi ikke spesifisert disse ved navn, men ta gjerne kontakt med oss hvis du vil vite mer.</p>
<p class="sub-title">Overføring av personopplysninger utenfor EU/EØS</p>
<p>I noen tilfeller overføres personopplysningene dine utenfor EU/EØS, for eksempel der vi bruker leverandører utenfor EU/EØS til å håndtere utsendelse av nyhetsbrev, til å behandle kundeopplysninger, for å tilgjengeliggjøre produkter og tjenester på nettsiden vår, for sikkerhet på nettsiden vår og ellers for å kunne drive virksomheten vår på en trygg og effektiv måte. Overføring av personopplysninger til utenfor EU/EØS er kun tillatt til land EU-kommisjonen har godkjent, eller under nødvendige garantier etter personvernforordningen. Dette kan for eksempel være EUs standardkontrakter.</p> 
<p>På grunn av sikkerhet har vi ikke spesifisert disse ved navn. Ta gjerne kontakt hvis du vil vite mer om hvilke slike databehandlere vi bruker, hva slags nødvendige garantier som gjelder for slik overføring og hvilke ekstra sikkerhetstiltak vi har implementert.</p>

<p class="sub-title">Sikkerhet</p>
<p>Vi tar informasjonssikkerhet på alvor, og vi vil alltid gjøre vårt ytterste for å ivareta personopplysningene dine på best mulig måte. Blant annet bruker vi sterke passord, kryptering av data, tilgangskontroll og sikkerhetskopiering og tofaktorautentisering for å sikre dataene våre og hindre at uvedkommende får tilgang til å se, endre, slette eller på noen måter påvirke dataene vi oppbevarer, inkludert personopplysningene dine.</p>
<p>Vi bruker kun anerkjente leverandører av IT- og administrasjonstjenester som webhotell, sikkerhet på nettsiden og PC, virusprogram, e-postleverandør, sikkerhetskopiering, og mer. Vi tillater kun andre å få innsyn i og/eller behandle personopplysningene dine i henhold til våre instruksjoner, og kun der det er strengt nødvendig (f.eks. ved IT-support).</p>
<p>Vi har etablert rutiner for håndtering av brudd på datasikkerhet, og vi vil, ved avvik, sende avviksmelding til Datatilsynet innen 72 timer etter oppdaget brudd. Dersom bruddet medfører høy personvernrisiko, vil vi også varsle berørte registrerte. </p>

<p class="sub-title">Denne personvernerklæringen ble sist oppdatert: 01.07. 2021</p>
<p class="sub-title">NB! Det er ikke lov til å kopiere noe tekst fra denne personvernerklæringen, jfr. lov om opphavsrett.</p>

  </div>