---
layout: default
---


<div class="soknad-side-container">
    <div style="display:flex">
        <div style="margin-right: 4vmin">
            <h2>Påmelding infomøte</h2>
            <p>GET Academy arrangerer fire digitale informasjonsmøter om tilbudet vårt.
                Fyll ut skjemaet under, så får du tilsendt lenke til disse møtene på Google Meet.
                Du trenger ikke velge tid nå - du får lenke til alle fire etter tur.
            </p>
            <p>
                tirsdag 06. september kl. 17.00 - 18.00<br />
                mandag 12. september kl. 10.00 - 11.00<br />
                torsdag 22. september kl. 14.00 - 15.00<br />
                onsdag 28. september kl. 17.30 - 18.30<br />
            </p>
            <div class="form-group">
                <form name="contact"
                    action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSctdAKf1p4qjpxpLnaLT_oQvdcgBdPfpYBRDoAscG1WNte3sQ/formResponse"
                    method="post"
                    target="hidden_iframe" onsubmit="submitted=true;">
                    <div class="required">
                        <label>E-post</label>
                        <input type="email" name="entry.1012098834" id="email" />

                        <input type="hidden" name="entry.1360244694" id="source" />
                        <input class="form-button" style="background-color: #3195D8;" type="submit" value="Send" />
                    </div>
                </form>
                <div>
                </div>
            </div>
        </div>

        <iframe width="220" height="388" src="https://www.youtube.com/embed/CuverhN22kk" 
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

</div>
<script>
    document.getElementById('source').value = location.hash.substr(1);
</script>