---
layout: default
---
<div class="content-screen">
    <div class="video-and-text">
        <div>
            <h1>Søke Start IT</h1>

            <p>
                For å søke Start IT må du se gjennom videoene under, gjøre det samme
                på din egen PC, samt løse oppgaven som beskrives i siste video.
            </p>
            <p>
                Husk at du kan be om hjelp så mye du vil. Dette handler mer om
                gjennomføringsevne enn om å kunne mye HTML, CSS og Javascript. Når du
                står fast, sender du e-post til terje@getacademy.no og legger ved som
                vedlegg HTML-filen du holder på med.
            </p>
        </div>
    </div>

    <div class="video-and-text-container">
        <div class="video-and-text">
            <div class="video-screen">
                <iframe src="https://www.youtube.com/embed/pgHPgmgr-ME"></iframe>
            </div>

            <div class="text-screen">
                <h5>Video 1 - Verktøy (3min 35sek)</h5>
                <p>
                    Denne videoen viser hvilke verktøy du trenger for å løse oppgaven.
                    Du trenger Notepad (i Windows) eller TextEdit (på Mac) eller en
                    tilsvarende teksteditor. På Start IT bruker vi nå Visual Studio
                    Code. I videoene på denne siden brukes en litt annen versjon, men
                    vår anbefaling er å laste ned og installere Visual Studio Code. Du
                    finner den her:
                </p>
                <a href="https://code.visualstudio.com/download" target="blank">code.visualstudio.com/download</a>
            </div>
        </div>
    </div>

    <div class="video-and-text-container">
        <div class="video-and-text">
            <div class="video-screen">
                <iframe src="https://www.youtube.com/embed/fwGqVp4yhx4"></iframe>
            </div>

            <div class="text-screen">
                <h5>Video 2 - HTML (3min 40sek - totalt 7min 15sek)</h5>
                <p>Denne videoen går gjennom det grunnleggende i HTML.</p>
            </div>
        </div>
    </div>

    <div class="video-and-text-container">
        <div class="video-and-text">
            <div class="video-screen">
                <iframe src="https://www.youtube.com/embed/Wg57Dtg797A"></iframe>
            </div>

            <div class="text-screen">
                <h5>Video 3 - CSS (4min 49sek - totalt 12min 04sek)</h5>
                <p>
                    Denne videoen går gjennom det grunnleggende i CSS - Cascading Style
                    Sheets.
                </p>
            </div>
        </div>
    </div>

    <div class="video-and-text-container">
        <div class="video-and-text">
            <div class="video-screen">
                <iframe src="https://www.youtube.com/embed/uBA8T3YQUnw"></iframe>
            </div>

            <div class="text-screen">
                <h5>Video 4 - Javascript (4min 36sek - totalt 16min 40sek)</h5>
                <p>
                    Denne videoen går gjennom helt grunnleggende programmering i
                    Javascript.
                </p>
            </div>
        </div>
    </div>

    <div class="video-and-text-container">
        <div class="video-and-text">
            <div class="video-screen">
                <iframe src="https://www.youtube.com/embed/6GlulwxeFOM"></iframe>
            </div>

            <div class="text-screen">
                <h5>Video 5 - Oppgave (14min 35sek - totalt 31min 15sek)</h5>
                <p>
                    I denne videoen forklares oppgaven du skal gjøre og sende inn til
                    terje@getacademy.no for å søke på Start IT. En god start er å gjøre
                    det samme som gjøres i videoen. Oppgaven går deretter ut på å sørge
                    for at alle 9 knappene er klikkbare - og at om den du trykker på har
                    en blank rute til venste, til høyre, over eller under, så byttes
                    innholdet med den blanke. Hvis du ikke har en blank i en av de
                    nevnte retningene, skal det ikke skje noenting selv om man klikker
                    på ruten.
                </p>
            </div>
        </div>
    </div>
</div>