---
layout: default
---
<div class="about-us-container">
    <div id="lazy-id" class="horizontal-flex">
        <div class="text-container">
            <div class="header-with-description">
                <h3>Vanlig dag hos GET Academy</h3>
                <p>En typisk dag hos GET Academy varierer fra dag til dag. Det som er fast hver dag er kjernetiden fra klokken 09:00 til 15:00. Studenter må ha gått inn i teamet sitt i Discord innen klokken 09:00, det er slik vi fører fravær.</p>
                <h3>Chorei</h3>
                <p>Hver dag klokken 09:00, unntatt onsdag, begynner vi dagen med Chorei. Fenomenet Chorei stammer orginalt fra Japan, men vi har laget vår egen vri på dette. Vi bruker det som en fellesundervisning for alle våre studenter med fokus på nøkkelkompetanser. Vi mener at vårt fokus på nøkkelkompetanser bidrar til at våre studenter finner gode tankemønstre og strategier for læring og personlig vekst. På torsdager har vi også et portrett intervju av ulike spennende mennesker som har en tilknytning til GET.</p>
                <h3>Morgenmøte</h3>
                <p>Etter dette går studentene inn i teamene sine og jobber med nøkkelkompetanse oppgaver. Dette kan være å reflektere over tema som ble tatt opp eller å løse oppgaver. Dette er også kombinert med et internt morgenmøtet innad i teamet hvor de snakker om hva som er planen for dagen og hvordan det skal gjøres.</p>
                <h3>Samarbeid</h3>
                <p>Resten av dagen er studentene hovedsakelig sammen med teamet sitt. De man er i team med blir de du er med mest med gjennom modulen. Selv om en bytter team i hver modul blir en kjapt en familie og en blir godt kjent. Størrelsen på teamene kan variere ut ifra hvor mange det er i selv modulen. Når man ikke er i teamet sitt er det fordi det blant annet er felles undervisnings timer i koding, en til en codealongs med lærer, felles codealongs, parprogrammering med en annen student og andre ting.
                <h3>Selvstendighet</h3>
                <p>Det er også en del selvstendig arbeid. Vi har ferdig innspilte videoer med pensum og oppgaver av lærerne våre. Dette er ment for at hver enkelt student kan jobbe i eget tempo. Men, det er svært viktig å bruke teamet sitt om man står fast, eller å spørre våre lærere. Det er alltid anledning til å spørre om hjelp hos GET. Det er veldig lav terskel for å spørre om hjelp hos oss. Studentens aktivitet i fellestimer, codealongs og andre ting er også noe vi fokuserer på. Det er viktig at studenten blir vant med å spørre og sier ifra om ulike ting før man skal ut i arbeidslivet. Det er også veldig lav terskel på å bruke våre veiledere. Veilederne i GET er alltid tilgjengelig og ledig for en prat.</p>
                <h3>Refleksjon</h3>
                <p>Studentens hverdag er knyttet til hvordan arbeidslivet fungerer som en IT-utvikler. Blant annet skal studenten skrive logg hver dag, dette er noe som er vanlig i bedrift. Loggen er ment for at studenten kan reflektere over hva som har blitt gjort, hvordan det har gått, hvordan samarbeidet og kommunikasjonen har vært i teamet og andre ting. Det er kun lærere og veiledere som har tilgang til dette. Det er også noe vi bruker som en intern kommunikasjon mellom oss og student. Vi synes det er viktig at studenten får erfare hvordan det er i arbeidslivet og at man trener på å reflektere over viktige punkter gjennom dagen.</p>
                <h3>Sosiale aktiviteter</h3>
                <p>Vi setter også av tid til andre ting enn bare koding og nøkkelkompetanser og lager god stemning. Hver fredag er det blant annet en felles kahoot med premie.</p>
            </div>
        </div>
        <div class="image-container">
            <img class="bg-img" loading="lazy" src="{{ '/assets\faq\stoler.JPG' | relative_url }}">
            <div class="contact-card">
                <h3>Vil du vite mer?</h3>
                <p>Ta kontakt for en hyggelig samtale</p>
                <a href="{{ '/kontakt' | relative_url }}">
                    <button>Kontakt</button>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    .header-with-description h3 {
        text-align: left;
    }
</style>