<div class="attention-image-container container">
  <img class="hero-image" src="{{ " /assets/studenter-koder.jpeg" | prepend: site.baseurl }}" alt="GetAcademy Logo"
    alt=" Studenter lærer koding på GET Academy" />
  <div class="cta-container">
    <h1 class="cta-text">
      <!-- Prev VueTyper -->
      GET Academy
    </h1>
    <h2 class="cta-text">IT er veien til fremtiden</h2>
    <h2 class="cta-text">Bli IT-Utvikler på under 1½ år</h2>
    <br>
    <h2 class="cta-text">GET Academy er en ideell organisasjon</h2>
    <h2 class="cta-text">Les mer under <a href="/om-oss">Om oss</a></h2>
  </div>
</div>