<div class="container">
    <h2 class="header">Bedrifter som stoler på oss</h2>

    <p class="paragraph">
        Vi på GET Academy er stolte av å si at vi har et fantastisk samarbeid med
        mange selskaper i Norge. Flere av våre tidligere studenter arbeider nå hos
        noen av disse:
    </p>
    <div class="imagesContainer">
        <div>
            {% for company in site.data.bedrifter %}
            <img class="single-image" src="{{ " {{company.logo-source}}" | | prepend: site.baseurl }}" alt="{{ " {{company.name}}"}}" />
            {% endfor %}
        </div>
    </div>
</div>