<div class="carousel container">
  <h2>Dette sier studenter om GET Academy</h2>
  <br />
  {% for tilbakemelding in site.data.tilbakemeldinger %}
  <div class="mySlides fade">
    <img class="slides" src="{{tilbakemelding.image | relative_url }}" alt="{{tilbakemelding.name}}" />
    <div>{{ tilbakemelding.name }}</div>
    <div>{{ tilbakemelding.currentOccupation }}</div>
    <p class="p-quotes">{{ tilbakemelding.quote }}</p>
  </div>
  {% endfor %}
  <div>
    {% for tilbakemelding in site.data.tilbakemeldinger %}
    <span class="dot" onclick="currentSlide('{{tilbakemelding.slides}}')"></span>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>
<br>
</div>
<script>

  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>