<div>
    <div class="chart-wrapper">
        <h2>Økende behov for IT utviklere</h2>
        <p>
            Fra 2020 til 2030 vil behovet for "avansert IKT-kompetanse" øke med 30%
            , ifølge regjeringens rapport
            <a href="https://www.regjeringen.no/globalassets/upload/kmd/aif/dokumenter/dimensjonering_avansert_ikt_kompetanse.pdf?id=2260119"
                rel="noopener" target="_blank">
                "Dimensjonering av avansert IKT-kompetanse"
            </a>
        </p>
        <div id="chart" :options="options" :series="series"></div>
    </div>
</div>

<script src="'/assets/js/06.statistikk.js' | relative_url"></script>