<div class="evolve-business">
    <h1 style="color: darkorange">Nyheter</h1><br />
</div>
<div style="font-size: 120%;margin-left: 2rem">
    <ul>
        <li>Ny modell - og fortsatt friplasser i januar!
            <a href="{{ '/utdanning/start-it' | relative_url}}">Les mer &gt;</a>
        </li>
        <li>Vi jobber godkjenning av Start IT for støtte fra Lånekassen - da som forberedelse til
            privatisteksamen i programfaget IT-utvikling. I den forbindelse kommer vi også til å tilby veiledning til
            studentene våre om skriftlig eksamen i faget.
        </li>
    </ul>
</div>