<div class="map-of-students">
    <h3 class="centered-header">Studenter fra hele Norge</h3>
    <div class="horizontal-flex centered-div">
        <div class="norway-map">
            <img class="map-pin" src="/assets/map-pin.svg">
        </div>
        <div class="map-text">
            <p>Vi har studenter rundt hele norge</p>
            <p>Vi har studenter rundt hele norge</p>
            <p>Vi har studenter rundt hele norge</p>
            <p>Vi har studenter rundt hele norge</p>
            <p>Vi har studenter rundt hele norge</p>
        </div>
    </div>
</div>