<div class="map-of-students">
    <h3 class="blue-header">FOR BEDRIFT</h3>
    <h3 class="">Sikre deg talentfulle IT-utviklere</h3>
    <span>Praesent enim sapien, volutpat eu erat dapibus, blandit egestas velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vehicula tincidunt libero, nec condimentum magna aliquet quis. Morbi luctus nibh quis ex rhoncus, finibus tempus orci commodo. Etiam facilisis sapien ut lorem rutrum</span>
    <div class="horizontal-flex centered-div">
        <div class="norway-map">
            <img class="map-pin" src="/assets/map-pin.svg">
        </div>
        
    </div>
</div>