<div class="attention-image-container container">
  <div class="cta-container">
    <h1 class="cta-text">
      <!-- Prev VueTyper -->
      GET Academy<span id="animated-text"></span>
    </h1>
    <h2 class="cta-text">IT er veien til fremtiden</h2>
    <h2 class="cta-text">Bli IT-Utvikler på under 1½ år</h2>
    <h2 class="cta-text">GET Academy er en ideell organisasjon</h2>
    <h2 class="cta-text">Les mer under <a class="orange-link" href="{{ '/om-oss' | relative_url}}">Om oss &gt;</a></h2>
    <div class="horizontal-button-container">
      <a href="{{ '/bedrift/' | relative_url}}">
        <button>Bedrift</button>
      </a>
      <a href="{{ '/utdanning/' | relative_url}}">
        <button>Skole</button>
      </a>
    </div>
  </div>
  <img class="hero-image" src="{{'/assets/hjem/home-logo.png' | relative_url }}" alt="GetAcademy Logo"
    alt=" Studenter lærer koding på GET Academy" />
</div>