<div class="container-startup">
    <h3 class="blue-header">Utdanning</h3>
    <div class="startup-period-container">
        <h2 class="startup-header">
            Neste oppstartsperioder
        </h2>
        <div class="start-up">
            {% for oppstart in site.data.oppstarts-datoer %}
            <!--Oppstartsdatoer kan endres ved å endre _data/oppstartsdatoer.yml-->
            <div class="start-up-child">
                <strong class="date">{{ oppstart.dato }} </strong>
                <p class="deadline">Forutsetter levert og godkjent opptaksprøve</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>