<div class="steps-container"> 
  <div class="steps-text-container">

    <h2>Bli en utvikler i turbofart!</h2>
    
    <h3 class="steg-h3">
      Skolen har lokaler i Larvik, men du kan ta både Start IT og Get IT 100% på
      nett. Vår målgruppe er unge voksne under 30.
    </h3>
  </div>

  <div class="flex-container">
    <div class="timeline">
      <div>{% for steg in site.data.steg-utvikler %}
        <div class="{{ steg.direction }}">
          <div class="content">
            <h3>{{ steg.header }}</h3>
            <h4>{{ steg.miniHeader }}</h4>
            <p>{{ steg.texts }}</p>
            <a class="link-text" alt="getAcademy">{{ steg.link }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="application-container">
    <a class="application-button" href="{{ '/soknad/' | relative_url }}">
      <!-- Søknad -->
      <button class="button primary">Meld interesse</button>
    </a>
  </div>
</div>