---
layout: default
---

<div class="get-it">
    <h1>GET IT</h1>
    <div class="get-it-container">
      <ModuleComponent
        :module_paragraph="paragraphs"
        table_location="Nettbasert, eller i Larvik"
        table_time="12 måneder"
        table_price="Bedriften betaler"
        table_requirements="Bestått START IT"
        :unordered_list="get_it_code"
        header="Hva lærer du?"
        closing_paragraph="
        Det er én obligatorisk dag på GET Academy per uke og fire dager i bedrift.
        I løpet av skoleåret er det også tre individuelle uker hvor du er på skolen alle dager og gjør opplegg fra skolen."
      />
    </div>
  </div>