---
layout: default
---

<div class="start-it">
  <h1>Start IT</h1>
  <div class="start-it-ingress">
    <span>
      GET Academy tilbyr deg muligheten til å gå fra null kodeerfaring til
      juniorutvikler på 1½ år.
      <br />
      Utdanningen er delt i to hoveddeler: Start IT og GET IT og forutsetter
      ingen formell kompetanse eller tidligere kodeerfaring. Du trenger bare å
      ha tenning for koding og være villig til å legge til mye innsats!
      <br />
      <br />
      Start IT er inngangen og består av tre moduler, studielengde i alle
      modulene er 2 måneder.
    </span>
  </div>
  {% for modul in page.moduler %}
  <div class="start-it-container module-container">
    <div class="module-component">
      <div class="area area0">
        <h2>{{modul.navn}}</h2>
      </div>

      <div class="module-component-container">
        <div class="area area1">
          <div class="module-paragraph-container">
            <p class="textline">{{ modul.info }}</p>
          </div>
        </div>

        <div class="area area2">
          <div class="table-container">
            <table class="info-table">
              <tr>
                <td>
                  <i class="fas fa-map-marker-alt"></i>
                  <span class="icon-name">Studiested</span>
                </td>
                <td>{{ modul.studiested }}</td>
              </tr>

              <tr>
                <td>
                  <i class="fas fa-calendar-alt"></i><span class="icon-name">
                    Studielengde</span>
                </td>
                <td>{{ modul.studielengde }}</td>
              </tr>

              <tr>
                <td>
                  <i class="fas fa-credit-card"></i><span class="icon-name">Pris</span>
                </td>
                <td>{{ modul.kostnad }}</td>
              </tr>

              <tr class="no-border-bottom">
                <td>
                  <i class="fas fa-sticky-note"></i><span class="icon-name">Opptakskrav</span>
                </td>
                <td>{{ modul.krav }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div>
        <h3 class="what-do-you-learn">Hva lærer du?</h3>
      </div>
      {% for goals in modul.learning-goals %}
      <div class="module-component-container">
        <ul class="unordered-list unordered-list-main" v-for="(item, index) of unordered_list" v-bind:key="index">
          <li>
            <span class="normal-text">{{ goals.name }}</span>
          </li>

          <ul>
            <ul class="unordered-list unordered-list-sub" v-for="(paragraph, index) of item.sublist" v-bind:key="index">
              {% for list in goals.sublist %}
              <li>
                <span class="normal-text">{{ list }}</span>
              </li>
              {% endfor %}
            </ul>
          </ul>
          {% endfor %}
        </ul>
        <div class="module-component-container">
          <ul class="unordered-list unordered-list-main" v-for="(item, index) of unordered_list" v-bind:key="index">
            <li>
              <span class="normal-text">Nøkkelkompetanser</span>
            </li>
  
            <ul>
              <ul class="unordered-list unordered-list-sub" v-for="(paragraph, index) of item.sublist" v-bind:key="index">
                {% for key in modul.keycompetences %}
                <li>
                  <span class="normal-text">{{ key }}</span>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </ul>
        </div>
      </div>

      <div class="module-component-container">
        <div class="area area4">
          <h3>Praktisk informasjon</h3>
          <p>{{ modul.tileggs-info }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div id="application-container">
  <a class="application-button" href="{{ site.baseurl }}{% link _pages/soknad.md %}">
    <!-- Søknad -->
    <button class="button primary">Meld interesse</button>
  </a>
</div>

</div>