---
layout: default
---

<div class="start-it">
  <h1>Start IT - <span style="font-style: italic; color: darkgoldenrod">ny modell!</span></h1>
  Vi gjør to endringer fra januar 2023:
  <ol style="margin-left: 2rem">
    <li>Start IT får to oppstarter i året, i januar og august</li>
    <li>Start IT blir et sammenhengende kurs over 20 uker</li>
  </ol>
  <div class="start-it-ingress">
    <div class="start-text">
      Start IT-kurset vil gå over 20 uker og inneholde det samme innholdet som tidligere.<br/>
      Modul 1 er de første 7 ukene. Modul 2 er de neste 7 ukene.  og Modul 3 er de siste 6 ukene.
      <br /><br />
      Før du melder interesse for en friplass er det viktig at du leser
      <a class="application-button" href="{{ 'søke-start-it-friplass/krav' | relative_url }}">
        kravene for friplass
      </a>
      <br /><br />
      GET Academy tilbyr deg muligheten til å gå fra null kodeerfaring til
      juniorutvikler på 1½ år.
      <br /><br />
      Utdanningen er delt i to hoveddeler: Start IT og GET IT og forutsetter
      ingen formell kompetanse eller tidligere kodeerfaring. Du trenger bare å
      ha tenning for koding og være villig til å legge til mye innsats!
    </div>
    <div class="application-box">
      <a class="application-button" href="{{ '/søke-start-it-ordinær/' | relative_url }}">
        <!-- Søknad ordinær plass -->
        <button class="button primary">Søk om ordinær plass</button>
      </a>
      <div></div>
      <a class="application-button" href="{{ '/søke-start-it-friplass/' | relative_url }}">
        <!-- Søknad friplass -->
        <button class="button secondary">Søk om friplass*</button>
      </a>
      <a class="application-button" href="{{ '/søke-start-it-friplass/krav' | relative_url }}">*Les kravene for
        friplass</a>
    </div>

  </div>

  <div style="display: flex; align-items: center; justify-content: center;">    
    <div class="table-container" style="width: 34rem">
      <table class="info-table" >
        <tr>
          <td>
            <span><i class="fas fa-map-marker-alt"></i> Studiested</span>
          </td>
          <td>Larvik eller nettbasert</td>
        </tr>

        <tr>
          <td>
            <span><i class="fas fa-calendar-alt"></i> Studielengde</span>
          </td>
          <td>20 uker</td>
        </tr>

        <tr>
          <td>
            <span><i class="fas fa-credit-card"></i> Pris</span>
          </td>
          <td>49 500kr</td>
        </tr>

        <tr class="no-border-bottom">
          <td>
            <span><i class="fas fa-sticky-note"></i> Opptakskrav</span>
          </td>
          <td>Opptaksprøve</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="soknad-side-container">
    <h2>Slik foregår det</h2>
    <div class="steps-container">
      <div class="flex-container">
        <div id="soknad-timeline" class="timeline">
          <div>{% for steg in site.data.soknad-steg %}
            <div class="{{ steg.direction }}">
              <div class="content">
                <h3>{{ steg.header }}</h3>
                <h4>{{ steg.miniHeader }}</h4>
                <p>{{ steg.texts }}</p>
                <a class="link-text" alt="getAcademy" href="{{steg.source | relative_url}}">{{ steg.link }}</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <tr></tr>

  
  {% for modul in page.moduler %}
  <div class="start-it-container module-container">
    <div class="module-component">
      <div class="area area0">
        <h2>{{modul.navn}}</h2>
      </div>

      <div class="module-component-container">
        <div class="area area1">
          <div class="module-paragraph-container">
            <p>{{ modul.info }}</p>
          </div>
        </div>

        <div class="area area2">
        </div>
      </div>

      <div>
        <h3 class="what-do-you-learn">Hva lærer du?</h3>
      </div>
      <div class="module-component-container">
        <ul class="unordered-list unordered-list-main">

          {% for goals in modul.learning-goals %}
          <div class="vertical-align">

            <li>
              <span class="normal-text">{{ goals.name }}</span>
            </li>

            <ul>
              <ul class="unordered-list unordered-list-sub" v-for="(paragraph, index) of item.sublist"
                v-bind:key="index">
                {% for list in goals.sublist %}
                <li>
                  <span class="normal-text">{{ list }}</span>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </div>
          {% endfor %}
        </ul>
        <ul class="unordered-list unordered-list-main">

          <div class="vertical-align">
            <li>
              <span class="normal-text">Nøkkelkompetanser</span>
            </li>

            <ul>
              <ul class="unordered-list unordered-list-sub" v-for="(paragraph, index) of item.sublist"
                v-bind:key="index">
                {% for competency in modul.keycompetences %}
                <li>
                  <span class="normal-text">{{ competency }}</span>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </div>
        </ul>
      </div>

      <div class="module-component-container">
        <div class="area area4">
          <h3>Praktisk informasjon<br>
            <h4 class="important-text">{{ modul.tileggs-info }}</h4>
          </h3>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>